*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 0;
    width: 100%;
    background-color: #1c116c;
    position: fixed;
    top: 0;
    left: 0;
    
}

nav ul {
    list-style-type: none;
    display: flex;
     gap: 20%;  
     align-items: center;

    
}
.lite {
    display: flex;
    gap: 30px;

}

.home {
    color: #00bbf0;
}
 nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;

}

nav ul li a:hover{
    color: red;
    text-decoration: underline;
}

.imlogo {
  width: 100px;
  height: auto;
  margin-left: 50px;

}
/* hero */
.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: #1a106a;
    color: white;
    height: 900px;
    margin-bottom: 150px;
}


.texte {
    width: 100%;
    padding: 40px;
}
.image {
    padding: 20px;
    
}
.texte h1{
    margin-bottom: 10px;
    font-size: 60px;
}

.texte p {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: justify;
}
.image img{
width: 100%;
height: auto;
animation: moveUpDown 5s ease-in-out infinite; /* الحركة البطيئة للأعلى والأسفل */


}

.bouton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #00bbf0;
    color: white;
    cursor: pointer;
}

.bouton:hover{
    opacity: 0.5; /* تخفيف الخلفية عند التمرير */
    transition: opacity 0.4s;
}
/* animation */

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* بداية الحركة */
    }
    50% {
        transform: translateY(-60px); /* المنتصف - تحرك للأعلى */
    }
    100% {
        transform: translateY(0); /* العودة للنقطة الأولى */
    }
}

/* services */
.titre{
    text-align: center;

}
.titre h1 {
    font-size: 60px;

}
.titre p {
    font-size: 25px;
    margin-bottom: 40px;
}

span {
    color: red;
}

#services {
    display: flex;
    width: 100%;
    margin-bottom: 200px;
    padding: 0 70px;
    scroll-margin-top: 200px;
    scroll-margin-top: 350px;

}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 70px;
}


#services img{
    width: 100px;
    height:100px;
}

#services h2{
    margin-bottom: 10px;
}

#services p {
    line-height: 1.5;
}

.left, .milieu, .right {
    background-color: #f8f8f9;
    text-align: center;
    padding: 10px 40px;


}

#services button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: #00204a;
    color: white;
    cursor: pointer;
    border: none;
}

#services button:hover {
    background-color: transparent;
    color: #00204a;
    transition: background-color 0.5s;
    transition:color 0.5s;

}
/* about */

#about {
    padding: 100px 10px;
    background-color: #00204a;
    margin-bottom: 100px;
    scroll-margin-top: 50px;



}

.imagetext{
    display: flex;
    margin-top: 60px;
    width:90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;

}

.abouttitre {

text-align: center;
color: white;


}
.imim{
    width: 500px;
}

.textright {
    width: 50%;
    padding: 20px;
    margin-left: 30px;

    
}
.textright h2 {
    font-size: 45px;
    margin-bottom: 10px;
}
.textright p {
    line-height: 1.5;
    text-align: justify;

}
.abouttitre h2{
    font-size: 60px;
}
.abouttitre p {
    font-size: 25px;
    margin-bottom: 40px;
}

/* why us */

.immm {
    width: 90px;
    height: 90px;

}

#Why-Choose-us{
    text-align: center;
    margin-bottom: 100px;
    scroll-margin-top: 200px;
    scroll-margin-top: 250px;


}

.par1, .par2, .par3, .par4{
    width: 80%;
    margin: 0 auto 70px auto;
    padding: 30px;
    background-color: aliceblue;

}

.t {
    margin-bottom: 10px;
    font-size:35px;
}

.p {
    line-height: 1.5;
}

.imt {
    width: 120px;
    height: 120px;
    border: 3px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 40px;
}

.why{
    text-align: center;
    font-size: 60px;
}


a {
    text-decoration: none; /* إزالة الخط السفلي */
    color: inherit; /* استخدام لون الوراثة */
}



/*  T E A M */
/* تنسيق الأيقونة داخل الرابط */
.social-icons a i {
    font-size: 20px; /* حجم الأيقونة */
    transition: color 0.3s ease; /* تأثير عند التمرير */
    color: white;

}
        /* تغيير اللون عند التمرير */
 a:hover i {
            color: #00376b; /* لون أغمق عند التمرير */
        }

 .social-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;

 }

.ico {
    padding: 2px;
    margin-right: 25px;
    align-items: center;
    margin-top: 20px;

 }

 .titreteam{
    text-align: center;
    font-size: 30px;
    background-color: #00204a;
    padding: 30px 0;
 }

 #team {
    background-color: #00204a;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    scroll-margin-top: 300px;

    

    
 }
 .team {
    color: white;
 }

 .teamimage {
    background-color: #00285b;
    text-align: center;
    padding: 20px 0;
    box-shadow: 2px 2px white;
    transition: transform 0.3s , background-color 0.3s ease; /* تأثير ناعم */


 }
 .teamimage:hover {
     transform: scale(1.1);


    }

 .imteam {
    border-radius: 50%;

width: 200px; }

.titreteam span {
    color: #00bbf0;

}
.teamimage h2{
    color:#00bbf0 ;
    font-size: 35px;
    margin-bottom: 10px;

}
.teamimage p{
    color: white;
    font-size: 25px;
}

/* pre--footer */
#pre-footer{
    background-color: #00204a;
    color: white;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr; 
    gap: 30px;
}

.adres {
    padding: 10px;
    background-color: #00285b;

}
 .adres h2 {
    margin-bottom: 20px;

}

.sociale {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

  
.info {
    padding: 20px;
    background-color: #00285b;

}
.info h2 {
    margin-bottom: 10px;
}

.info p {
    text-align: justify;
    font-size: 25px;
}

.link {
    background-color: #00285b;

}
 .link h2 {
    text-align: center;
 }

.link ul {
    list-style-type: none;
    margin-top: 10px;
    text-align: center;
}

.link ul li {
    margin: 20px;
}

.link ul li a:hover {
    color: red;
    text-decoration: underline;
    transition: color 0.4s;
}

.subscribe {
    padding: 20px;
    background-color: #00285b;

}

.subsbut {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #00bbf0;
    color: white;
    cursor: pointer;
}

.subsbut:hover {
    background-color: transparent;
    transition: background-color 0.4s;
}

.subscribe h2 {margin-bottom: 30px;
}

.subscribe input {
    width: 100%;
    font-size: larger;
    background: #00204a;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;

}
.subscribe input::placeholder {
    color: rgb(48, 48, 48);
}

/*footer*/

  footer {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;

  }
